.trim-text {
display: block;
width: 100%;
height: 300px;
overflow-y: scroll;
padding-bottom: 25%;
}
.trim-text:after {
position: absolute;
bottom: 0;
height: 100%;
width: 90%;
content: "";
background: linear-gradient(to top, rgba(255,255,255,1) 5%, rgba(255,255,255,0) 25%);
pointer-events: none;
}